volumes:
  postgres-data:

services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/18/data
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./initdb.sql:/docker-entrypoint-initdb.d/initdb.sql

  redis:
    image: redis
    ports:
      - 6379:6379
